<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>number</title>
		<link rel="stylesheet" href="../../assets/css/main.css">
	</head>
	<body>
		<div class="number">
			<input type="number" class="number__field">
			<div class="number__btn number__btn_plus">
				<button class="btn btn_input">+</button>
			</div>
			<div class="number__btn number__btn_minus">
				<button class="btn btn_input">-</button>
			</div>
		</div>
	</body>
</html>