
.number {
}

.number__input {
 position: relative;
 display: inline-block;
 height: 1.5rem;
 min-width: 5rem;
}

.number__input:active {
 outline: none;
}

.number__input:disabled {
 opacity: 0.5;
 pointer-events: none;
}



